qcom/proprietary/llvm-arm-toolchain-ship/4.0/bin/* filter=lfs diff=lfs merge=lfs -text
qcom/proprietary/llvm-arm-toolchain-ship/6.0/lib/* filter=lfs diff=lfs merge=lfs -text
qcom/proprietary/llvm-arm-toolchain-ship/6.0/bin/* filter=lfs diff=lfs merge=lfs -text
